* {
    margin: 0;
    padding: 0;
}
  
body {
    align-items: center;
    background-color: #282c34;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    font-size: calc(10px + 2vmin);
    text-align: center;
}
  
a:link { 
    text-decoration: none; 
}